{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load partials %}

{% block title %}
    تهران بوتیک - ورود به فروشگاه
{% endblock %}

{% block content %}
    <main class="flex justify-center items-center gap-20 py-8 md:py-0 md:h-screen">
        <section class="flex flex-col items-end">
            <div class="w-[20rem]">
                <div class="flex flex-col items-center justify-center text-center">
                    <img src="{% static 'images/site/logo.png' %}"  width="200" alt="logo" class="mb-20 md:hidden">
                    {% include 'partials/alert.html' %}
                    <h1 class="hidden mb-24 text-xl font-bold md:block">به تهران بوتیک خوش آمدید</h1>
                    <h2 class="mb-8 font-bold">ورود</h2>
                </div>
                {% partialdef login_form inline %}
                    <form novalidate="novalidate" hx-post="{% url 'accounts:user-login-view' %}" hx-swap="outerHTML"
                          hx-target="closest form">
                        <label class="form-control w-full mb-2">
                            <span class="label-text mb-2">شماره تلفن</span>
                            {% render_field form.phone_number|add_error_class:"input-error" placeholder="شماره تلفن" class="input input-bordered w-full" %}
                            {% if form.phone_number.errors %}
                                <div class="label">
                                    <span class="label-text-alt text-xs text-error">{{ form.phone_number.errors }}</span>
                                </div>
                            {% endif %}
                        </label>
                        <p class="text-xs text-clip my-5">ورود و عضویت شما به منزله پذیرفتن قوانین و مقررات می باشد.</p>
                        <button type="submit" class="btn btn-primary w-full mb-3">ارسال کد تایید</button>
                    </form>
                {% endpartialdef %}
            </div>
            <a href="{% url 'accounts:user-signup-view' %}" class="link-primary w-full text-center mt-5">ثبت نام در سایت</a>
        </section>

        <section class="hidden md:block">
            <img src="{% static 'images/site/photo.png' %}" alt="login banner">
        </section>
    </main>
{% endblock %}